.edit-bookmark-wrapper {
    padding: 35px;

}


@media (max-width: 767px) {
    .button-container {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        gap: 3px;
    }
    .btn{
        justify-content: center;
        font-size: 14px;

    }
    .btn:first-child{
        margin-right: 0;
    }
    .button-container .aign-end
    {
        margin-left: 0;
    }
    h2 {
        font-size: 30px;
    }
}